/* LAYOUT GERAL */
.blog-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /*background-color: #f4f4f4;*/
}

html, body {
  margin: 0;
  padding: 0;
}

/* HERO */
.hero-section {
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, #095e8b, #0541617c),
              url('/Desing-blog.png'); 
  background-size: cover;
  background-position: center;
}

/* GRID DOS POSTS */
.post-container-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 5% 20px;
}

/* CARDS PRINCIPAIS */
.post-card-alg {
  background-color: #c0dcee;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
  transition: transform .2s;
  display: flex;
  flex-direction: column;
}

.post-card-alg:hover {
  transform: scale(1.03);
}

.read-more-link {
  text-decoration: none;
  color: inherit;
}

.post-img-blog {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

.post-info {
  background-color: #c0dcee;
  padding: 20px;
  color: #233568;
}

.post-title {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.1rem;
}
